# Environment
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/cache/

# Logs
*.log

backup.txt
temp_charts/